@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass">
    @{int i = 0;}
    @foreach (var item in Model.Items)
    {
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        var isOdd = (i % 2 == 1);

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 @((isOdd)? "order-md-2" : "")">
                <h2 class="featurette-heading">@item.Fields.Title</h2>
                <p class="lead">@Html.HtmlSanitize((string)item.Fields.Summary)</p>
                <p class="lead"><a class="btn btn-light" href="@navigateUrl">@Html.Resource("FullStory")</a></p>
            </div>
            <div class="col-md-5 @((isOdd)? "order-md-1" : "")">
                <a href="@navigateUrl"><img class="featurette-image img-fluid mx-auto" src="@item.Fields.Thumbnail.Fields.MediaUrl" alt="@item.Fields.Thumbnail.Fields.AlternativeText"></a>
            </div>
        </div>
        i++;
    }

    <hr class="featurette-divider">
</div>